:root {
    --color-primary: #6143FF;
    --color-text: #0A0040;
    --color-background: #F6F5FF;
    --color-background-navbar: #F0F2FA;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background);
}