#section-home {
    display: flex;
    gap: 30px;
}

.main-graphic-wrapper {
    width: 32%;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.main-graphic-wrapper .title-wrapper {
    display: flex;
    gap: 30px;

    justify-content: space-between;
}

.main-graphic-wrapper .date-wrapper {
    display: flex;
    align-items: center;

    gap: 10px;
}

.main-graphic-wrapper .date-wrapper img {
    cursor: pointer;
}

.main-graphic-wrapper > img {
    width: 300px;
    height: 300px;

    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.main-graphic-wrapper .graphic-tasks-message {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-graphic-wrapper .graphic-tasks-message img {
    width: 30px;
    height: 30px;
}

.main-graphic-wrapper .graphic-tasks-message p {
    text-align: center;
}

.main-tasks-wrapper {
    flex: 1;
}

.main-tasks-wrapper select {
    background-color: transparent;
    border: none;

    font-weight: 500;
    font-size: 18px;

    cursor: pointer;
}

.main-tasks-wrapper .main-list-tasks {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 40px;

    margin-top: 50px;
}

.main-tasks-wrapper .main-list-tasks li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);

    cursor: pointer;
    transition: all 130ms ease-in-out;
}

.main-tasks-wrapper .main-list-tasks li:hover {
    transform: scale(1.01);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

.main-tasks-wrapper .main-list-tasks li .title-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-tasks-wrapper .main-list-tasks li .doneCheckbox {
    width: 17px;
    height: 17px;

    accent-color: var(--color-primary);
}

.main-tasks-wrapper .main-list-tasks li .title-wrapper .doneCheckbox:checked:before {
    background-color: red;
}

.main-tasks-wrapper .main-list-tasks li .content-action-wrapper {
    display: flex;
    align-items: center;
    gap: 100px;
}

.main-tasks-wrapper .main-list-tasks li .content-task {
    position: relative;
}

.main-tasks-wrapper .main-list-tasks li .content-task::before {
    content: '';
    position: absolute;

    left: -30px;
    top: 50%;
    transform: translateY(-50%);

    width: 15px;
    height: 15px;
    border-radius: 50%;

    background-color: red;
}

.main-tasks-wrapper .main-list-tasks li .actions {
    display: flex;
    align-items: center;

    gap: 50px;
}

.main-tasks-wrapper .main-list-tasks li .actions a {
    text-decoration: none;
}

.main-tasks-wrapper .main-list-tasks li .actions a > img {
    width: 25px;
}