.container {
    width: 100%;
    height: 100%;

    display: flex;

    overflow: hidden;
}

.container aside {
    width: 8%;
    text-align: center;

    padding: 10px 0;

    background-color: var(--color-primary);
}

.container aside .logo {
    max-width: 60%;
}

.container .content {
    flex: 1;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 100px;
    padding: 0 20px;
    gap: 20px;

    background-color: var(--color-background-headerbar);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
}

.container main {
    flex: 1;

    padding: 30px 25px;
    overflow: auto;
}

.container main section.center {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container main section.center h1 {
    text-align: center;
    margin-bottom: 50px;
}

/* .container main section {
    padding: 30px 25px;
    overflow: auto;
} */