.btn {
    padding: 20px 30px;

    border-radius: 10px;

    transition: transform 130ms ease-in-out;
}

.btn:hover {
    transform: scale(1.04);
}

a.btn {
    text-decoration: none;
}

.btn-primary {
    background-color: var(--color-primary);
    color: #fff;
}